
  
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <head>
      <link rel="stylesheet" href="/css/navbar.css">
    </head>
    
  </head>
  <body>
    <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/form">Formulario</a></li>
      <li><a href="/data">Datos almacenados</a></li>
      <li><a href="/about">Historia</a></li>
    </ul>
  </nav>
  </body>
  </html>