<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data</title>
</head>
<body>
  <% include partials/navbar %>

  <h1>Latest submissions</h1>

  <ul>
    <% data.forEach(submission => { %>
      <li><%= submission.story %></li>
    <% }) %>
  </ul>
</body>
</html>
