<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Generador de Cuentos</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container container-with-border">
    <h1 class="title">Generador de Cuentos</h1>
    <p class="subtitle">Ingresa un nombre y un escenario aquí:</p>
    <a href="/form"><button>¡Crea tu propia historia!</button></a>
  </div>
</body>
</html>
