/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos para el cuerpo de la página */
  body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
  }
  
  /* Estilos para el encabezado */
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  

  /* Estilos para el título */
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: blueviolet;
  }
  
  /* Estilos para el subtítulo */
  .subtitle {
    font-size: 24px;
    margin-bottom: 10px;
  }
  button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .container-with-border {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
  }
  